<!DOCTYPE html>
<html>
<head>
  <title>Forensity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p> Forensity: Swiss Forensic Solutions </p>
  <%= link_to "Home", root_path %>
  <%= link_to "Search", welcome_search_path %>
  <%= link_to "Match", welcome_match_path %>
  <%= link_to "About us", welcome_about_path %>
  <%= link_to "FAQs", welcome_faq_path %>
  <%= link_to "Contact us", welcome_contact_path %>
  <%= link_to "Features", welcome_features_path %>
   <%= link_to "Pricing", welcome_pricing_path %>
<%= yield %>

</body>
</html>
